:root {
    --primary-color: #FFF;
    --secondary-color: #ff5003;
    --accent-color: #9c27b0;
    --text-color: #ffffff;
    --text-secondary: #cccccc;
    --shadow-color: rgba(255, 107, 53, 0.3);
    --transition: all 0.3s ease;
    --background-color: #000000;
    --about-section-bg: #040a10;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background: url('../images/header-bg.png') no-repeat top right;
    background-color: var(--background-color);
}